<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a member</title>
    <link rel="stylesheet" href="memberPass.css">
</head>
<body>
    <form action="/memberSignIn" method="POST">
        <label for="password">ENTER OUR SECRET PASSWORD TO BECOME A MEMBER</label>
        <input type="text" id="password" name="password">
        <input type="submit">
    </form>
</body>
</html>