* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

label {
    display: block;
    margin: 8px 0 4px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Button Styling */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


.success-message {
    color: #4CAF50;
    background-color: #ddffdd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #4CAF50;
    display: flex;
    justify-content: center;
}

a {
    display: block;
    text-align: center;
    color: #0066cc;
    margin-top: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #004999;
}

.error-message {
    color: #ff4d4d; 
    margin-bottom: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
